.alice-carousel{
    .alice-carousel__wrapper{
        .alice-carousel__stage-item{
            display: inline-block;
            padding-bottom: 20px;
            padding-top: 10px;
        }
    }
}